.cart-collaterals{
    display: flex;
    justify-content: center;

}
.cart_totals{

    width: 100%;
}

.ppc-button-wrapper{
    text-align: center;
}

.button.disabled, button:disabled, input[type=button].disabled, input[type=button]:disabled, input[type=reset].disabled, input[type=reset]:disabled, input[type=submit].disabled, input[type=submit]:disabled, .button.disabled, .button:disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:disabled, .added_to_cart.disabled, .added_to_cart:disabled {
    background-color: white;
}

.th { 
    background-color: white;
}


@media (min-width: 768px){

    .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {

        width: 100%!important;
    }

}