
.woocommerce {
    width: 100%;
}

.entry-content {
    width: 100%;
}

.site-content {
    width: 100%;
}

#page {
    width: 100%;
}

#post-8 {
    width: 80%;
}

.changeCart{
    left:50%;
    display: flex;
    text-align: center;
    width: 200px;
    margin: 10px 10px 10px 0px ;
    border: 0;
    border-radius: 0;
    background: none;
    background-color: #333333;
    border-color: #333333;
    color: #fff;
    cursor: pointer;
    padding: .6180469716em 1.41575em;
    font-weight: 600;
    text-shadow: none;
    display: inline-block;
    -webkit-appearance: none;
    text-decoration: none!important;
}
.woocommerce-checkout, .checkout{
display: flex;
flex-direction: column;
align-items: center;
}

#order_review, #order_review_heading{
    display: none;
    flex-direction: column
}

table.woocommerce-checkout-review-order-table .product-name {
    width: 80% !important; 
}

.woocommerce-form__label-for-checkbox {
    font-size: 16px;
}

#customer_details {
    width: 100% !important;
}

.right-sidebar .content-area {
    width: 100% !important;
}


/* NY */


#order_review_heading {
    padding-top: 30px;
    justify-content: center;
    text-align: center;
}


#order_review h3 {
    padding-top: 40px; 
    justify-content: center;
    text-align: center;
    display: none; 
    font-size: 35px;
}


.wc_payment_methods {
    display: none;
}

.place-order {
    display: none;
}


.woocommerce-shipping-totals {
    margin: 20px 0px 20px 0px;    
    padding: 20px 0px 20px 0px;    
}

td strong span {
    font-size: 15px;  
}

.orderButtons {
    align-items: center;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 45.63px;
    color: #ffffff;
    background-color: #F06AA4;
    text-decoration: none;
    cursor: pointer;
    padding: .6180469716em 1.41575em;
    width: 120px;
}

.totalSum {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.totalSum p {
    margin-bottom: 0px;
}

.totalSum .includes_tax {
    display: none;
}

.sum {
    font-size: 30px;
    margin-bottom: 10px;
}

input[type=text], input[type=number], input[type=email], input[type=tel], input[type=url], input[type=password], input[type=search], textarea, .input-text {
    background-color: white !important;
    border-radius: 4px !important;
    border: 1px solid grey !important;
}

th {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
}
.button.disabled, button:disabled, input[type=button].disabled, input[type=button]:disabled, input[type=reset].disabled, input[type=reset]:disabled, input[type=submit].disabled, input[type=submit]:disabled, .button.disabled, .button:disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:disabled, .added_to_cart.disabled, .added_to_cart:disabled, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button {
    background-color: lightgrey;
    margin-bottom: 30px;
}

h3 {
    justify-content: center;
    display: flex;
    font-size: 35px !important;
}

.actions {
    border-bottom: 1px solid lightgray;
}


td {
    background-color: rgb(255, 255, 255) !important;
}

.place-order {
    border-radius: 4px;
}

.nasta {
    width: 100px;
    text-align: center;
}

.nasta:hover, .continue:hover {
    background-color: #f06aa4d3;
}

.widget a, .widget p {
    font-size: 14px !important;
}

.wp-block-group {
    display: flex;
    width: 100%;
}

#order_review_heading, #order_review {
    float: none!important;
    margin-right: 0!important;
    clear: right;
    flex-direction: column; 
    width: 100% !important; 
}
#customer_details{
    width: 100%!important;
    float: none!important;
    margin-right: 0!important;
    clear: right;
}

table.woocommerce-checkout-review-order-table .product-name {
    width: 80% !important; 
}

.right-sidebar .content-area {
    width: 100% !important;
}

table td, table th {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.cart-subtotal {
    border-top: 1px solid grey;
}

table:nth-child(1) {
    border-collapse: collapse !important;
}



table.shop_table .shop_table_responsive {
    border-collapse: separate !important;
}

@media (max-width: 500px) {

    .widget a, .widget p {
        font-size: 10px !important;
    }
    #customer_details{
        width: 100%!important;
        float: none!important;
        margin-right: 0!important;
        clear: right;
    }

    table.woocommerce-checkout-review-order-table .product-name {
        width: 80% !important; 
    }

}

@media (max-width: 400px) {


.wp-block-group div {
    display: flex !important;
    justify-content: center !important ;
    margin: 5px 0px 5px 0px !important;
    height: 35px;
}

.wp-block-image .aligncenter {
    width: 120px;
}

.woocommerce-billing-fields__field-wrapper, .woocommerce-billing-fields, .col-1, #customer_details, .checkout .woocommerce-checkout, #post-8 {
    width: 100%;
}


}






.errorText{
    display:none;
    color:#ff3333;
}
.nasta{
    padding: 10px 20px 10px 20px;
    background-color: #F06AA4;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
#colophon{
    display:none
}

