
  
 main {
   flex-direction: column;
 } 

 .wp-block-image {
  width: 100%;
}

.wp-block-image img { 
  width: 100%;
  object-fit: cover;
}


.products .columns-3, .wc-block-grid__products, .wc-block-grid {
  display: flex;
}

/* .wc-block-grid__products .wc-block-grid__product {
  height: 40vh;
  margin-bottom: 155px;
} */



ul.products li.product .woocommerce-LoopProduct-link, ul.products .wc-block-grid__product .woocommerce-LoopProduct-link, .wc-block-grid__products li.product .woocommerce-LoopProduct-link, .wc-block-grid__products .wc-block-grid__product .woocommerce-LoopProduct-link {
  height: 40vh;
  margin-bottom: 155px;
}

.wc-block-grid__product-link {
  height: 600px;
}

ul.products li.product img, ul.products .wc-block-grid__product img, .wc-block-grid__products li.product img, .wc-block-grid__products .wc-block-grid__product img {
  display: block;
  margin: 0 auto 1.618em;
  height: 100%;
  object-fit: contain;
}

ul.products, .wc-block-grid__products {
  margin-left: 0;
  margin-bottom: 0;
  clear: both;
  width: 90vw;
}
  
.wp-block-cover .has-background-dim:not(.has-background-gradient):before {
  height: 70vh;
}

.has-text-align-center .has-huge-font-size  {
  display: flex;
  justify-content: center;
  align-items: center;

}
  
.widget a strong {
  font-size: 70px !important;
  color: rgba(255, 255, 255, 0.611);
}
  
.wp-block-cover .wp-block-cover__gradient-background {
  height: 70vh;
}


  
  .wp-block-cover-image img.wp-block-cover__image-background, .wp-block-cover-image video.wp-block-cover__video-background, .wp-block-cover img.wp-block-cover__image-background, .wp-block-cover video.wp-block-cover__video-background, .wp-block-cover {
     height: 70vh !important; 
     margin-bottom: 110px;
}


  .home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header {
    margin-bottom: 0px !important;
}

@media screen and ( max-width: 900px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 70px !important;
  }

}

@media screen and ( max-width: 700px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 50px !important;
  }

}

@media screen and ( max-width: 550px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 40px !important;
  }

}

@media screen and ( max-width: 450px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 30px !important;
  }

}

/* Fortsätt nedan */


/*Start Sida*/
.categoryList ul{
  display : flex;
  justify-content: space-between;
  text-align: center;
  margin : 0!important;
}
.categoryList li{
  margin : 0!important;
}
.categoryList .wc-block-product-categories-list-item__image{
  max-width: unset!important;
  display: block;
  width: 100%!important;
  margin: 0 auto;
}
