
  .wp-block-cover-image img.wp-block-cover__image-background, .wp-block-cover-image video.wp-block-cover__video-background, .wp-block-cover img.wp-block-cover__image-background, .wp-block-cover video.wp-block-cover__video-background, .wp-block-cover {
     height: 70vh !important; 
}


  .home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header {
    margin-bottom: 0px !important;
}

@media screen and ( max-width: 900px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 70px !important;
  }

}

@media screen and ( max-width: 700px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 50px !important;
  }

}

@media screen and ( max-width: 550px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 40px !important;
  }

}

@media screen and ( max-width: 450px ) {
  .wp-block-cover  .wp-block-cover__inner-container > .has-text-align-center {
      font-size: 30px !important;
  }

}

/* Fortsätt nedan */