
/* Produktsidan */

.pswp__item {

    background-color: white;
}
.wp-post-image{

    width: 60%;
}
.single-product div.product table.variations select {
    width: 32%;
    font-size:25px;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    outline: none;
}
.pswp--zoom-allowed .pswp__button--zoom {
    display: none;
}
.pswp--zoom-allowed .pswp__img{
    cursor:default;

}
.pswp__zoom-wrap {
    cursor:pointer;
    pointer-events: none;

}
@media screen and (max-width: 782px){

    .admin-bar .pswp {
        height: 100%;
        top:0px;
    }
    .pswp__img {

        height:87vh!important;
    

    }
    .single-product div.product table.variations select {
        font-size:20px;
        width: 52%;
    }

}
@media screen and (max-width: 375px){
    .admin-bar .pswp {
        height: 100%;
        top:0px;
    }
    
    .pswp__img {

        height:83vh!important;
    }



}