/* 

css till single.php - dvs enstaka blogginlägg

*/


main {
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
}

.titleAndDate {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 20px;
}


.postPic {
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.postPic img {
    height: 100%;
    object-fit: contain;
}

.contentPost {
    width: 60vw;
    margin-bottom: 100px;
}

.post {
    gap: 20px;
}


/* Relaterade produkter */

.wc-block-grid__product-image {
    height: 30vh;
    display: flex;
}

.wc-block-grid__product-image img {
    height: 100% !important;
    object-fit: contain;
}

.wc-block-grid__product-title {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.wp-block-button {

    display: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

.title h1 {
    color: #5d5c61c9;
}


/* Pagination */


.singlePagination {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 70px;
}

.prevPag, .nextPag {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 2px rgb(177, 177, 177);
}

.prevPag a, .nextPag a {
    color: grey;
    font-size: 20px; 
}

.prevPag:hover, .nextPag:hover{
    background-color:rgb(237, 237, 237) ;
}


@media screen and (max-width: 600px) { 

    .contentPost {
        width: 80vw;
    }

    .title h1 {
        font-size: 21px;
    }

    h3 {
        font-size: 16px;
    }

    
    }

@media screen and (max-width: 500px) { 

main {
    margin-top: 90px;
}


.contentPost {
    margin-bottom: 60px;
}

}

@media screen and (max-width: 400px) { 

    .back a p {
        font-size: 12px;
    }
    
    
    }


